* {
  margin: 0;
  padding: 0;
}

.main-container {
  width: 80%;
  text-align: center;
  margin: 20rem auto 0 auto;
}
.color-code {
  padding: 1.5rem 0;
  margin: 3rem auto;
  width: 30rem;
  background-color: #3d3d3d;
  color: #fff;
  text-transform: uppercase;
  border: solid 0.2rem #ff0000;
}

#btn {
  width: 20rem;
  height: 3rem;
  font-size: 1.2rem;
  font-weight: bold;
}
